<div class = "container">
    <h1>Employees</h1>
    <!-- Nom-->
    <form>
    <div class = "form-group">
        <label for="firstname">firstname:</label><br>
        <input type="text" class="form-control" id ="firstname" placeholder =""  required [(ngModel)]="model.firstName" name="firstname"><br>
    </div>

    <!--Nom de famille--> 
    <div class = "form-group">
        <label for ="lastname">Lastname:</label><br>
        <input type="text" class = "form-control" id="lastname" placeholder="" required [(ngModel)]= "model.lastName" name = "lastname"><br>
    </div>

    <!-- province-->
    <div class = "form-group">
        <label class="control-label" for="textinput">Provinces:</label><br>
         <select class="form-control" name="provinces">
        <option>---Select---</option>
        <option *ngFor="let item of provinces" [value]="item"> {{item}} </option>
        </select>
        
    </div>
    


    <!--Numero Assurance -->
    <div class ="form-group">
        <label for="nas">Nas:</label><br>
        <input type="text" name="nas" id="nas" placeholder="" required [(ngModel)] ="model.Nas" name = "nas"><br>
    </div>
     

    
          <!-- Aggree -->
    <div class="form-group">
        <div class="col-sm-2 form-check">
          <input type="checkbox" name="aggrement" class="form-check-input">
        </div>
        <label class="col-sm-10 form-check-label">I aggree to Terms & Conditions
        </label>
    </div>

    <!-- Button de soumettre -->
    <button type ="submit" class="btn btn-success" >Submit</button>
    
</form>
</div>

